.is-rounded {
  border-radius: 100%;
}

.text-bold {
  font-weight: bold;
}

.is-visually-hidden {
  opacity: 0;
}

.is-mobile-hidden {
  @media #{$only-smartphone} {
    display: none!important;
  }
}

.is-inline {
  display: inline;
}

.is-inline-flex {
  display: inline-flex;
}