.layout {
  @media #{$tablet} {
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;
    justify-content: space-between;
  }
}

.layout .layout-fixed {
  flex: 0 0 auto;
}

.layout .layout-grow {
  flex: 1 1 auto;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  min-height: 300px;
  flex-flow: column nowrap;
  padding-bottom: 1rem;
  border-bottom: 1px solid darken(white, 10%);
  margin-bottom: 1rem;
}